Page {
    font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
    background-color: #F5F5F5;
    color: #0F80C4;
}

ActionBar {
    background-color: #F5F5F5;
    color: #0F80C4;
}
