.logo {
  margin: 20;
}

.button {
    border-color: #0F80C4;
    color: #0F80C4;
    margin: 5;
    padding: 7 2;
    border-width: 1;
    border-style: solid;
    border-radius: 5;
    text-align: center;
    font-size: 18;
    line-height: 42;
}
